.paged {
  text-decoration: none;
}

.listContainer {
  display: inline-block;
  flex-direction: row;
}

.number {
  color: #fff;
  list-style: none;
  padding: 5px;
  font-size: 14px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-align: center;
}

.link {
  padding: 1px;
  cursor: pointer;
  background: none;
  color: #fff;
  border: none;
  text-align: center;
}    

.link:hover {
  padding: 1px;
  cursor: pointer;
  background: none;
  color:#311601;
  border: none;
  text-align: center;
}    
